
@inherits BotDash.Models.ComponentModels.UsageGraphModel
@inject ApplicationDbContext _context
@inject IServiceProvider _services
@using Blazorise.Charts;
@using ClassLibrary.Data

<h3>UsageGraph</h3>

<style>
    .app-fab--absolute {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
</style>

@* @if (_isLoggedIn) *@
@* { *@
@*     <div class="container"> *@
@*         <div class="row"> *@
@*             <div class="col-sm-12 my-5"> *@
@*                 <RadzenChart> *@
@*                     <RadzenLineSeries Data="@_users" CategoryProperty="Date" Title="User Count" LineType="LineType.Solid" ValueProperty="Count"> *@
@*                         <RadzenMarkers MarkerType="MarkerType.Square" /> *@
@*                     </RadzenLineSeries> *@
@*                     <RadzenLineSeries Data="@_servers" CategoryProperty="Date" Title="Server Count" ValueProperty="Count"> *@
@*                         <RadzenMarkers MarkerType="MarkerType.Circle" /> *@
@*                     </RadzenLineSeries> *@
@*                     <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" /> *@
@*                     $1$ <RadzenValueAxis Formatter="@_yAxis"> #1# *@
@*                     $1$     <RadzenGridLines Visible="true" /> #1# *@
@*                     $1$     <RadzenAxisTitle Text="Revenue in USD" /> #1# *@
@*                     $1$ </RadzenValueAxis> #1# *@
@*                 </RadzenChart> *@
@*             </div> *@
@*         </div> *@
@*          *@
@*         <div class="row"> *@
@*                     <div class="col-sm-12 my-5"> *@
@*                         <RadzenChart> *@
@*                             <RadzenLineSeries Data="@_totalUsers" CategoryProperty="Date" Title="2019" LineType="LineType.Solid" ValueProperty="Count"> *@
@*                                 <RadzenMarkers MarkerType="MarkerType.Square" /> *@
@*                             </RadzenLineSeries> *@
@*                             <RadzenLineSeries Data="@_totalServers" CategoryProperty="Date" Title="2020" ValueProperty="Revenue"> *@
@*                                 <RadzenMarkers MarkerType="MarkerType.Circle" /> *@
@*                             </RadzenLineSeries> *@
@*                             <RadzenLineSeries Data="@_totalCommands" CategoryProperty="Date" Title="2020" ValueProperty="Revenue"> *@
@*                                 <RadzenMarkers MarkerType="MarkerType.Circle" /> *@
@*                             </RadzenLineSeries> *@
@*                             <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" /> *@
@*                             $1$ <RadzenValueAxis Formatter="@_yAxis"> #1# *@
@*                             $1$     <RadzenGridLines Visible="true" /> #1# *@
@*                             $1$     <RadzenAxisTitle Text="Revenue in USD" /> #1# *@
@*                             $1$ </RadzenValueAxis> #1# *@
@*                         </RadzenChart> *@
@*                     </div> *@
@*                 </div> *@
@*     </div> *@
@*      *@
@*     <MatFAB Icon="@MatIconNames.People" Label="@GetUserCount()" ></MatFAB> *@
@*      *@
@*     <MatFAB Icon="@MatIconNames.Computer" Label="@GetServerCount()"></MatFAB> *@
@* } *@
@* else *@
@* { *@
@*     <div class="container"> *@
@*         <div class="row"> *@
@*             <div class="col-sm-12 my-5"> *@
@*                 <RadzenChart> *@
@*                     <RadzenLineSeries Data="@_totalUsers" CategoryProperty="UserName" Title="2019" LineType="LineType.Dashed" ValueProperty="Revenue"> *@
@*                         <RadzenMarkers MarkerType="MarkerType.Square" /> *@
@*                     </RadzenLineSeries> *@
@*                     <RadzenLineSeries Data="@_totalServers" CategoryProperty="Date" Title="2020" ValueProperty="Revenue"> *@
@*                         <RadzenMarkers MarkerType="MarkerType.Circle" /> *@
@*                     </RadzenLineSeries> *@
@*                     <RadzenLineSeries Data="@_totalCommands" CategoryProperty="Date" Title="2020" ValueProperty="Revenue"> *@
@*                         <RadzenMarkers MarkerType="MarkerType.Circle" /> *@
@*                     </RadzenLineSeries> *@
@*                     <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" /> *@
@*                     $1$ <RadzenValueAxis Formatter="@_yAxis"> #1# *@
@*                     $1$     <RadzenGridLines Visible="true" /> #1# *@
@*                     $1$     <RadzenAxisTitle Text="Revenue in USD" /> #1# *@
@*                     $1$ </RadzenValueAxis> #1# *@
@*                 </RadzenChart> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* *@
@*     <MatFAB Icon="@MatIconNames.People" Label="@GetUserCount()" ></MatFAB> *@
@* *@
@*     <MatFAB Icon="@MatIconNames.Computer" Label="@GetServerCount()"></MatFAB> *@
@* } *@


    <MatFAB Icon="@MatIconNames.People" Label="@GetUserCount()" ></MatFAB>

    <MatFAB Icon="@MatIconNames.Computer" Label="@GetServerCount()"></MatFAB>



